

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --primary-color: #4f9edb;
  --secondary-color: #2ecc71;
  --font-family: "Roboto Condensed", serif;
  --font-size: 14px;
  --background-color: #f5f5f5;
  --text-color: rgb(201, 201, 201);
  --text-color-Small-about:rgb(160, 160, 160);
  --HOVER-Color: rgb(255, 255, 255);
  --Nav-active: rgb(15, 15, 15);
  --UL-Bcolor:rgb(255, 255, 255);
  --UL-COLOR: rgb(78, 78, 78);
}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
 
}




.Landing-page{
  background-image: url(assets/Images-Home/main-image.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.342);
  background-blend-mode: multiply;
  overflow: visible;
  font-family: var(--font-family);
  
  } 
  
  nav{
    
    display: flex;
    justify-content: space-between; 
    justify-self: center;
    width: 100%;
    padding: 10px 10px;
    position:sticky;
     top: 0;  
    font-family: var(--font-family);
    z-index: 1000000;
    transition: 0.4s ease-in-out;
    
  
  }
  
  .nav-active{
    background-color: var(--Nav-active);
    transition: 0.3s ease-in-out;
     position: fixed;
    top: 0; 
   
   
  }
  
  .black-nav{
    background-color: var(--Nav-active);
    transition: 1s ease-in-out;
   /*  position: fixed;
    top: 0; */
   /*  transition: 3s ease-in-out;
    position: fixed;
    top: 0; */
   
  }
  
  /* nav ul {
    display: flex;
    gap: 40px;
    margin-top: 30px;
     margin-left: 340px; 
    margin-right: 0px;
  }  */
  
  nav ul li{
    list-style-type: none;
  
  }
  
  nav ul li a {
    text-decoration: none;
    color: var(--text-color) ;
    text-transform: uppercase;
    font-size: var(--font-size);
    letter-spacing: 2px;
    
  }
  nav ul li a:hover {
    color: var(--HOVER-Color) ;
    transition: 0.4s ease;
  }
  
  .active {
    color: var(--HOVER-Color);
  }
  .logo-link{
    text-decoration: none;
  }
  
  
  .logo{
    font-size: 1.4rem;
    display: flex;
  }
  
  .logo img{
    width: 70px;
    height: 70px;
  }
  
  .logo-text{
    font-size: 16px;
    width: 8ch;
    text-transform: uppercase;
    margin-top: 14px;
    color: var(--UL-Bcolor);
   
  }
  .logo-text.active{
    color: white;
  }
  
  .icons{
    display: flex;
    gap: 30px;
    margin-top: 30px;
  }
  
  .menu-icon{
    width: 35px;
    height: 35px;
    border: 1px solid var(--UL-Bcolor);
    display: none;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    cursor: pointer;
    
  }
  .menu-icon:hover{
    background-color: var(--UL-Bcolor);
    transition: 0.7s ease;
    
  }
  .menu-icon:hover div{
    border: 1px solid var(--Nav-active);
    transition: 0.4s ease;
    
  }
  .menu-icon div {
    width: 80%;
    height: 0.1px;
    border: 1px solid var(--UL-Bcolor);
   
  }
  .links{
    width: 35px;
    height: 35px;
    border: 1px solid var(--UL-Bcolor);
    display: grid;
    place-content: center;
    margin-top: -10px;
    cursor: pointer;
    color: var(--UL-Bcolor);
    
  }
  .links:hover{
    /* background-color: var(--UL-Bcolor); */
    transition: 0.7s ease;
    color: var(--Nav-active);
    
  }
 /*  
  main{
    text-align: center;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: var(--font-family);
    justify-content: center;
    align-items: center;
    padding: 150px 0;
   
  } */
  
  .exterior{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 200;
    color: var(--UL-Bcolor);
    letter-spacing: 4px;
  }
  
  .we-love{
   color: var(--UL-Bcolor);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 4rem;
   
  } 


  .projects{
    margin: 0 100px;
  }

  .image-description{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .description{
    font-size: 2rem;
    font-weight: bold;
    width: 30ch;
    margin-top: 140px;
    color: var(--Nav-active);
  }

  .construction-for{
    width: 60ch;
  }

 

  .description-for-hover:hover  .description{
    color: var(--UL-COLOR);
    transition: 0.4s ease-in-out;
    cursor: pointer;
  }
  .description-for-hover:hover .arrow{
    color: var(--UL-COLOR);
    transform: translateX(20px);
    transition: 0.4s ease-in-out;
    color: var(--UL-COLOR); 
  }

  .read{
    display: flex;
    gap: 8px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  /* .read:hover .arrow{
      transform: translateX(20px);
    transition: 0.4s ease-in-out;
    color: var(--UL-COLOR); 
    
  } */
  .read-word{
    font-size: 1rem;
    font-weight: bolder;
  }
  
  
  .arrow, .read-word{
    font-weight: lighter;
  }
  .arrow{
     font-size: 2rem;
    font-weight: lighter;
    margin-top: -12px;
  }

.image-description-two{
  display: flex;
  flex-direction: row-reverse;
  margin-top: -4px;
  justify-content: space-between;
 
}




  @media (max-width: 768px){

    nav{
  
      justify-content: space-between;
      width: 100%;
      margin-left: 0px;
       padding: 10px 10px; 
         
    }
  
   img {
      width:50px ;
      height:50px ;
    }
  
    .logo-text{
      font-size: 12px;
      margin-top: 20px;
    }
  
    .menu-icon{
      display: flex;
    }
  
     nav ul {
       margin-left: 0px; 
    } 
    
    nav ul li a:hover {
      color: var(--Nav-active);
    }
  
    .active {
      color: var(--Nav-active)
    }
  
  
  
  
  /*   ul {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background: var(--UL-Bcolor);
      list-style: none;
      padding: 80px 0px;
      transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
      transform: translateY(-100%); 
      opacity: 0;
      pointer-events: none; 
      flex-direction: column;
      text-align: center;
      gap: 40px;
      margin-left: 0px;
      z-index: 10000000;
    }  */
  
   
  
    ul.open {
      transform: translateY(0); 
      opacity: 1;
      pointer-events: auto;
    }

    .exterior{
      font-size: 1rem;
      color: var(--UL-Bcolor);
      letter-spacing: 2px;
    }
    
    .we-love{
      font-size: 2.4rem;
    } 

   /*  .projects{
      margin: 0 100px;
    } */
  

    .image-description{
     flex-direction: column;
     align-items: center;
     margin-top: 0px;
     justify-content: center;
    }
    .image-description-two{
     flex-direction: column;
     align-items: center;
    }

    .description{
      font-size: 2rem;
      font-weight: bold;
      width: 30ch;
      margin-top: 40px;
      color: var(--Nav-active);
    }

    .image-one img{
      width: 550px;
      height: 400px;
    }
  
    
  
   
  
  
  }